:root {
  --negro: #393939;
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}

/* Reset-CSS */

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  font-family: 'Overpass', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
/* _______________________ */

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-color: var(--VeryDarkBlue);
  color: var(--White);
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.5em;
  padding-bottom: 1.2em;
  width: 33em;
  height: 35em;
  border-radius: 1.8rem;
  background: linear-gradient(0deg, rgb(20, 29, 42) 50%, rgb(37, 45, 55) 100%);
}

.card_start {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 4em;
  height: 4em;
  border-radius: 100%;
  background-color: var(--DarkBlue);
}
.card_start img {
  width: 40%;
  object-fit: contain;
}

.card_text h2 {
  margin-bottom: 1em;
  font-size: 2.6rem;
  font-weight: 700;
}

.card_text p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--LightGrey);
}

.card_request {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.card_request div, .card_request input{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  border-radius: 20em;
  font-size: 1.4rem;
  color: var(--LightGrey);
  background-color: var(--DarkBlue);
  cursor: pointer;
}

.card_request label {
  position: absolute;
}

.card_request input:hover {
  color: var(--White);
  background-color: var(--Orange);
}

.card_request input:checked {
  background-color: hsla(217, 12%, 63%, 0.381);
}


.card_button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.button {
  width: 26.5em;
  height: 2.6em;
  border-radius: 20em;
  font-size: 1.4rem;
  background-color: var(--Orange);
  cursor: pointer;
}

.button:hover {
  background-color: var(--White);
  color: var(--Orange);
}

.card_thanks {
  display: none;
  justify-content: space-evenly;
  align-items: center;
}

.card_thanks-icon img {
  width: 14em
}

.select_message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 2.5em;
  padding-top: .13rem;
  border-radius: 10em;
  font-size: 1.2rem;
  color: var(--Orange);
  background-color: var(--DarkBlue);
}

.card_thanks-message h2 {
  text-align: center;
}

.card_thanks-message p {
  margin-top: -1.2em;
  font-size: 1.25rem;
  text-align: center;
}